// Header text feature
.call-out {
  @extend %padding-regular;
  display: inline-block;
  width: 100%;
  background-color:$header-desc-background-color;
  background-size: cover;
  font-size: 1.2em;
  text-align: center;
  color: $header-desc-text-color;
}
.call-out p:last-child {
  margin-bottom: 0;
}
.call-out a {
  color: $header-desc-link-color
}

.new-header {
  position: relative;
  .header-bg {
    width: 100%;
    height: 0;
    padding-bottom: 40%;
    background-image: url(/images/aa/head_bg.jpg);
    background-attachment: fixed;
    background-size: 100%;
    overflow: hidden;
  }
  .header-title {
    position: absolute;
    color: white;
    font-size: 1.8em;
    font-family: "Abril Fatface", serif;
    bottom: 0;
    left: 4rem;
  }

  @media only screen and (max-width: 1300px) {
    .header-bg {
      height: 70vh;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-image: url(/images/aa/head_bg_sf.jpg);
    }
  }
}

// Post listing
.posts {
  margin-top: 3rem;
  .post-teaser {
    @extend %padding-regular;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    margin-bottom: 0;
    display: inline-block;
    background-size: $feature-image-size;
    // border-bottom: 1px solid $border-color;
    p a {
      @extend .body-link;
    }
    .post-title {
      font-size: 1.1rem;
      letter-spacing: 0.05rem;
      a {
        color: #666;
      }
    }
  }
  .excerpt {
    margin-top: 1em;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
    p {
      img {
        display: block;
        margin: 0 auto;
      }
      line-height: 2;
    }
    .image-des {
      text-align: center;
    }
  }
}

@media not all and (max-width: 1100px) {
  .home-tags {
    position: absolute;
    right: 8em;
    top: 48em;
    .tag {
      display: block;
      color: $tags-color;
    }
  }
}

@media all and (max-width: 1100px) {
  .home-tags {
    margin-top: .4em;
    text-align: center;
    .tag {
      display: inline;
      color: $tags-color;
    }
  }
}

// Pagination
.pagination .button {
  margin: 0 1.5em;
  i {
    vertical-align: middle;
  }
}
.pagination {
  padding: $padding-small $padding-large 0 $padding-large;
  text-align: center;
  @media (max-width: 600px) {
    padding: $padding-small;
  }
}
