// Mix-ins
%padding-small {
  padding: $padding-x-small $padding-x-small * 2;
  @media (max-width: 1000px) {
    padding: $padding-x-small $padding-x-small;
  }
}
%padding-regular {
  padding: $padding-small $padding-large;
  @media (max-width: 1000px) {
    padding: $padding-small * 1.5 $padding-large / 1.6;
  }
  @media (max-width: 576px) {
    padding: $padding-small;
  }
}
// Buttons
.button {
  border-radius: 0.3em;
  border: 1px solid;
  display: inline-block;
  margin: 1em 0;
  padding: 0.2em 0.55em;
  color: #666;
  float: right;
}

.more {
  float: right;
  position: relative;
}

.more::after {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 6px;
  left: -70px;
  background-color: black;
  content: '';
  height: 1px;
  width: 58px;
  transition: left .3s ease;
}

.more::before {
  position: absolute;
  top: auto;
  left: -25px;
  bottom: 9px;
  background-color: black;
  content: '';
  height: 1px;
  transform: rotate(25deg);
  width: 12px;
  transition: left .3s ease;
}

.more:hover::after {
  left: -60px
}

.more:hover::before {
  left: -15px
}

a.button {
  @extend .button-link;
}
.button-link {
  &:hover {
    background: $link-color;
    border: 1px solid $link-color;
    color: $background-color;
    text-decoration: none;
  }
}
.body-link {
  &:hover {
    text-decoration: underline;
    color: darken($link-color, 15%);
  }
}
// States
.disabled {
  opacity: 0.7;
}
